langchain
langchain-core
langchain-openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
langchain-community
langchain-openai
langgraph
chromadb
faiss-cpu
pypdf
sentence-transformers
tiktoken
fastapi
uvicorn
duckduckgo-search
wikipedia
tavily-python
streamlit
unstructured
beautifulsoup4
lark
langgraph
langchain-ollama
langgraph-checkpoint-sqlite