langchain
langchain-core
langchain-openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
python-certifi-win32
numpy
scikit-learn
langchain-community
langchain-pinecone
langchain-openai
langgraph
chromadb
faiss-cpu
pypdf
sentence-transformers
tiktoken
fastapi
uvicorn
duckduckgo-search
wikipedia
tavily-python
dotenv
streamlit
unstructured
beautifulsoup4
lark
langchain-ollama
pinecone
